*
{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}


html
{
    height: 100%;
    width: 100%;
}


h1
{
    color: #005F60;
}


body
{
    height: 100%;
    width: 100%;
    background: linear-gradient(to right,
    #005F60 0%,
    #005F60 10%,
    #008083 10%,
    #008083 100%);
}


.top
{
    background-color: #FD5901;
    position: fixed;
    height: 13%;
    width: 100%;
    z-index: 1;
}

label.logo, .logo
{
    /*color: #490F4A;*/
    margin-left: 0;
    color: papayawhip;
    font-size: 80px;
    padding: 0 100px;
    font-weight: bold;
}

nav a
{
    color: papayawhip;
    font-size: 80px;
    padding: 0 100px;
    font-weight: bold;
}

/*nav ul li*/
/*{*/
/*    display: inline-block;*/
/*    line-height: 80px;*/
/*    margin: 0 10px;*/
/*}*/

/*nav ul li a*/
/*{*/
/*    color: white;*/
/*    font-size: 17px;*/
/*    padding: 7px 13px;*/
/*    border-radius: 3px;*/
/*    text-transform: uppercase;*/
/*}*/


#tr_icon
{
    color: papayawhip;
}


#tr_icon:active, #tr_icon:hover
{
    color: white;
    background: #734F96;
    transition: .5s;
}


.text-muted
{
    margin: auto;
}


.alert
{
    text-align: center;
    z-index: 1;
    margin-top: 7%;
}


.sidebar
{
    position: fixed;
    top: 15%;
    /*height: 35%;*/
    width: 8%;
}


.sidebar ul
{
    position: relative;
    top: 50%;
    margin-left: 0;
}


.sidebar ul li
{
    display: block;
    text-align: center;
    box-sizing: border-box;
}


.sidebar ul li i
{
    font-size: 250%;
    padding-top: 50%;
    padding-bottom: 50%;
    padding-left: 20%;
}


.sidebar ul li i:hover
{
    padding-left: 40%;
}


.fa-plus-circle:active
{
    color: #490F4A;
}


.fas:hover
{
    /*color: #FBAED2;*/
    color: #FD5901;
}


.fas
{
    color: papayawhip;
}

.fa-home:hover
{
    color: #005F60;
}

#home_fa
{
    color: #FD5901;
    padding: 15px;
}

#home_icon
{
    width: fit-content;
    height: fit-content;
}


/*.under*/
/*{*/
/*    position: absolute;*/
/*    top: 13%;*/
/*    height: 87%;*/
/*    width: 100%;*/
/*}*/


.choose-content
{
    border: 2px solid papayawhip;
    padding: 5px;
    border-radius: 25px;
    background: lightcoral;
    margin-top: 20%;
}


.q-content
{
    border: 2px solid #FD5901;
    padding: 25px;
    border-radius: 25px;
    background: papayawhip;
    position: absolute;
    width: fit-content;
    height: fit-content;
    margin-top: 15%;
    margin-left: 0;
}


.g-content
{
    border: 2px solid #FD5901;
    padding: 25px;
    border-radius: 25px;
    background: papayawhip;
    position: absolute;
    width: 705px;
    height: fit-content;
    margin-top: 15%;
    margin-left: 0;
    overflow-x: scroll;
}


.home-content
{
    border: 2px solid #FD5901;
    padding: 25px;
    border-radius: 25px;
    background: papayawhip;
    position: absolute;
    width: fit-content;
    height: fit-content;
    margin-top: 15%;
    margin-left: 0;
}

/*.content-section*/
/*{*/
/*    background: crimson;*/
/*    position: absolute;*/
/*    width:fit-content;*/
/*    height:fit-content;*/
/*    left: 0;*/
/*    top: 50%;*/
/*}*/


.register-content
{
    border: 2px solid papayawhip;
    padding: 5px;
    border-radius: 25px;
    background: lightcoral;
    position: absolute;
    width: 80%;
    margin-top: 15%;
    margin-left: 0;
}


.form-control-label
{
    color: #005F60;
    text-align: center;
}


.page-content
{
    margin-left: 10%;
    border-radius:10px;
    padding: 5px;
}

.query
{
    margin-left: 15%;
    margin-top: -5%;
    position: fixed;
    /*height: 35%;*/
}

.graph
{
    margin-top: -5%;
    margin-left: 40%;
    position: fixed;
    /*height: 35%;*/
}

.homebutton
{
    margin-left: 90%;
    position: fixed;
}