<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FLORIDA HEALTH INSIGHT</title>
    <meta name="viewport" content="width=device-width, initial_scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" media="screen" href="/static/tsStyle.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

</head>
<body>
    <main role="main" class="container-fluid">
        <div class="row">
            <nav class="col-12 top">
                <div class="row align-items-center">
                    <div class="col-sm">
                        <label class="logo">FLORIDA HEALTH INSIGHT</label>
                    </div>
                    <div class="col-sm homebutton">
                        <a href="{{ url_for('home') }}"><i id="home_icon" class="fas fa-home" aria-hidden="true"></i></a>
                    </div>
                </div>
            </nav>
        </div>
        <div class="row">
            <div class="col-1 sidebar">
              <ul>
                  <li><a href="{{ url_for('queryOne') }}"><i class="fas fa-temperature-high" aria-hidden="true"></i></a></li>
                  <li><a href="{{ url_for('queryTwo') }}"><i class="fas fa-head-side-mask" aria-hidden="true"></i></a></li>
                  <li><a href="{{ url_for('queryThree') }}"><i class="fas fa-fire" aria-hidden="true"></i></a></li>
                  <li><a href="{{ url_for('queryFour') }}"><i class="fas fa-frown" aria-hidden="true"></i></a></li>
                  <li><a href="{{ url_for('home') }}"><i class="fas fa-umbrella-beach" aria-hidden="true"></i></a></li>
              </ul>
            </div>
            <div class="col-11 page-content">
                <div class="col-6 page-content">
                    {% block content %}{% endblock %}
                </div>
            </div>
        </div>
    </main>

</body>
</html>