{% extends "queryBase.html" %}
{#{% block TopRightIcon %}<a href="{{ url_for('home') }}"><i id="home_icon" class="fas fa-home" aria-hidden="true"></i></a>{% endblock %}#}

{% block content %}
    <div class="q-content">
        <div class="content-section">
            <form method="POST" action="/queryfive">
                {{ form.hidden_tag() }}
                <fieldset class="form-group">

                    <legend class="border-bottom mb-4" style="color: #005F60; text-align: center; border-bottom-color: #005F60">Choose Counties and Data Range</legend>

                    <div class="form-group">
                        {{ form.counties.label(class="form-control-label") }}
                        {{ form.counties(class="form-control form-control-lg") }}
                    </div>


                    <div class="form-group">
                        {{ form.dStart.label(class="form-control-label") }}
                        {{ form.dStart(class="form-control form-control-lg") }}
                    </div>


                    <div class="form-group">
                        {{ form.dEnd.label(class="form-control-label") }}
                        {{ form.dEnd(class="form-control form-control-lg") }}
                    </div>
                    
                    <div class="form-group">
                        {{ form.stdev.label(class="form-control-label") }}
                        {{ form.stdev(class="form-control form-control-lg") }}
                    </div>


                </fieldset>

                <div class="form-group">
                    {{ form.submit(class="btn btn-info btn-block") }}
                </div>

            </form>
        </div>
    </div>
{% endblock %}

{% block content2 %}
    <div class="q-content">
        <div class="content-section">
            <img {{ imgSrc }} alt="Graph Picture">
        </div>
    </div>
{% endblock %}

{% block content3 %}
    <p>
        Query 5 calculates the number of days that are hotter than 'x' standard deviation(s) less than the summer's average heat index value.
    </p>
    <p>
        First the summer's average heat index value is calculated for the months of May to September. Then, the standard deviation is calculated for the summer months as well.
    </p>
    <p>
        We then subtract the standard deviation value times the user's input from the summer average heat index and count the number of days hotter than that value.
    </p>
{% endblock %}