{% extends "queryBase.html" %}
{#{% block TopRightIcon %}<a href="{{ url_for('home') }}"><i id="home_icon" class="fas fa-home" aria-hidden="true"></i></a>{% endblock %}#}

{% block content %}
    <div class="q-content">
        <div class="content-section">
            <form method="POST" action="/queryone">
                {{ form.hidden_tag() }}
                <fieldset class="form-group">

                    <legend class="border-bottom mb-4" style="color: #005F60; text-align: center; border-bottom-color: #005F60">Choose Counties and Data Range</legend>

                    <div class="form-group">
                        {{ form.counties.label(class="form-control-label") }}
                        {{ form.counties(class="form-control form-control-lg") }}
                    </div>


                    <div class="form-group">
                        {{ form.dStart.label(class="form-control-label") }}
                        {{ form.dStart(class="form-control form-control-lg") }}
                    </div>


                    <div class="form-group">
                        {{ form.dEnd.label(class="form-control-label") }}
                        {{ form.dEnd(class="form-control form-control-lg") }}
                    </div>

                </fieldset>

                <div class="form-group">
                    {{ form.submit(class="btn btn-info btn-block") }}
                </div>

            </form>
        </div>
    </div>
{% endblock %}

{% block content2 %}
    <div class="q-content">
        <div class="content-section">
            <img src="static/graph.png" onerror="this.onerror=null; this.src='static/defaultgraph.png'" alt="Graph Picture">
        </div>
    </div>
{% endblock %}